[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=timesync
Name=Secure Network Time Synchronization
GenericName=Whonix Timesync
Categories=System
Icon=/usr/local/share/whonix/timesync.ico