---
- name: Build VMs
  hosts: vps_runner
  gather_facts: true
  vars_files:
    - ../vars/secrets.yml
    - ../vars/main.yml

  tasks:
    - name: Install dependencies
      block:
        - name: Install dependencies
          include_tasks: install_dependencies.yml
      become: true

    - name: Install source and submodules
      block:
        - name: Install source
          include_tasks: install_source.yml

    - name: Clean existing VirtualBox VMs
      block:
        - name: Clean existing vbox VMs
          include_tasks: clean_existing_vbox_vms.yml

    - name: Create VMs from tag
      block:
        - name: Create VMs from tag
          include_tasks: create_vms_from_tag.yml
      when: REF_TYPE == 'tag'

    - name: Create VMs from commit
      block:
        - name: Create VMs from commit
          include_tasks: create_vms_from_commit.yml
      when: REF_TYPE != 'tag'

    - name: Start new VirtualBox VMs
      block:
        - name: Start new vbox VMs
          include_tasks: start_new_vbox_vms.yml
      environment:
        DISPLAY: "localhost:1"
