[Desktop Entry]
Type=Application
Exec=torbrowser --contribute
Name=Contribute Page in Tor Browser
GenericName=Whonix Contribute Page
Categories=Network;
Icon=/usr/share/whonix/icons/contribute.ico