[Desktop Entry]
Exec=torbrowser --recommend
Type=Application
Name=Tor Browser Recommend Way to start, opens both Whonix Blogs offline
GenericName=Tor Browser Recommend
Categories=Network;
Icon=/usr/share/whonix/icons/important.ico