[Desktop Entry]
Type=Application
Exec=torbrowser --importantblog
Name=Important Blog in Tor Browser
GenericName=Whonix Important Blog
Categories=Network;
Icon=/usr/share/whonix/icons/importantblog.ico