# This file is part of Whonix
# Copyright (C) 2012 - 2013 adrelanos <adrelanos at riseup dot net>
# See the file COPYING for copying conditions.

[Desktop Entry]
Exec=update-torbrowser
Type=Application
Name=Update Tor Browser
GenericName=Tor Browser Updater
Categories=System;
Icon=/usr/share/whonix/icons/tbupdate.ico
