[Desktop Entry]
Type=Application
Exec=torbrowser -doc
Name=Whonix DOCUMENTATION Online in Tor Browser
GenericName=Whonix DOCUMENTATION
Categories=Network;
Icon=/usr/share/whonix/icons/readme.ico