# This file is part of Whonix
# Copyright (C) 2012 - 2013 adrelanos <adrelanos at riseup dot net>
# See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Exec=torbrowser --donate
Name=Donate to Whonix
GenericName=Whonix Donate Page
Categories=Network;
Icon=/usr/share/whonix/icons/donate.ico
