[Desktop Entry]
Exec=torbrowser -start
Type=Application
Name=Start Tor Browser (Whonix)
GenericName=Tor Browser (Whonix)
Categories=Network;
Icon=/usr/share/whonix/icons/torbrowser.ico