[Desktop Entry]
Exec=torbrowser --recommend
Type=Application
Name=Recommended Way to start Tor Browser, opens both Whonix Blogs offline
GenericName=Tor Browser Recommended
Categories=Network;
Icon=/usr/share/whonix/icons/important.ico
