[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=torbrowser -mailinglist
Name=Developer Mailing List in Tor Browser
GenericName=Whonix Developer Mailing List
Categories=Network;
Icon=/usr/share/whonix/icons/mailinglist.ico