[Desktop Entry]
Exec=torbrowser --recommend
Type=Application
Name=Tor Browser Recommended Way to start, opens both Whonix Blogs offline
GenericName=Tor Browser Recommended
Categories=Network;
Icon=/usr/share/whonix/icons/important.ico
