[submodule "packages/anon-apps-config"]
        path = packages/anon-apps-config
        url = https://gitlab.com/whonix/anon-apps-config.git

[submodule "packages/anon-apt-sources-list"]
        path = packages/anon-apt-sources-list
        url = https://gitlab.com/whonix/anon-apt-sources-list.git

[submodule "packages/anon-connection-wizard"]
        path = packages/anon-connection-wizard
        url = https://gitlab.com/whonix/anon-connection-wizard.git

[submodule "packages/anon-gw-anonymizer-config"]
        path = packages/anon-gw-anonymizer-config
        url = https://gitlab.com/whonix/anon-gw-anonymizer-config.git

[submodule "packages/anon-gw-base-files"]
        path = packages/anon-gw-base-files
        url = https://gitlab.com/whonix/anon-gw-base-files.git

[submodule "packages/anon-icon-pack"]
        path = packages/anon-icon-pack
        url = https://gitlab.com/whonix/anon-icon-pack.git

[submodule "packages/anon-meta-packages"]
        path = packages/anon-meta-packages
        url = https://gitlab.com/whonix/anon-meta-packages.git

[submodule "packages/anon-shared-build-apt-sources-tpo"]
        path = packages/anon-shared-build-apt-sources-tpo
        url = https://gitlab.com/whonix/anon-shared-build-apt-sources-tpo.git

[submodule "packages/anon-ws-base-files"]
        path = packages/anon-ws-base-files
        url = https://gitlab.com/whonix/anon-ws-base-files.git

[submodule "packages/anon-ws-disable-stacked-tor"]
        path = packages/anon-ws-disable-stacked-tor
        url = https://gitlab.com/whonix/anon-ws-disable-stacked-tor.git

[submodule "packages/apparmor-profile-dist"]
        path = packages/apparmor-profile-dist
        url = https://gitlab.com/whonix/apparmor-profile-dist.git

[submodule "packages/apparmor-profile-everything"]
        path = packages/apparmor-profile-everything
        url = https://gitlab.com/whonix/apparmor-profile-everything.git

[submodule "packages/apparmor-profile-hexchat"]
        path = packages/apparmor-profile-hexchat
        url = https://gitlab.com/whonix/apparmor-profile-hexchat.git

[submodule "packages/apparmor-profile-thunderbird"]
        path = packages/apparmor-profile-thunderbird
        url = https://gitlab.com/whonix/apparmor-profile-thunderbird.git

[submodule "packages/apparmor-profile-torbrowser"]
        path = packages/apparmor-profile-torbrowser
        url = https://gitlab.com/whonix/apparmor-profile-torbrowser.git

[submodule "packages/binaries-freedom"]
        path = packages/binaries-freedom
        url = https://gitlab.com/whonix/binaries-freedom.git

[submodule "packages/bindp"]
        path = packages/bindp
        url = https://gitlab.com/whonix/bindp.git

[submodule "packages/bootclockrandomization"]
        path = packages/bootclockrandomization
        url = https://gitlab.com/whonix/bootclockrandomization.git

[submodule "packages/corridor"]
        path = packages/corridor
        url = https://gitlab.com/whonix/corridor.git

[submodule "packages/damngpl"]
        path = packages/damngpl
        url = https://gitlab.com/whonix/damngpl.git

[submodule "packages/debug-misc"]
        path = packages/debug-misc
        url = https://gitlab.com/whonix/debug-misc.git

[submodule "packages/dist-base-files"]
        path = packages/dist-base-files
        url = https://gitlab.com/whonix/dist-base-files.git

[submodule "packages/genmkfile"]
        path = packages/genmkfile
        url = https://gitlab.com/whonix/genmkfile.git

[submodule "packages/gpg-bash-lib"]
        path = packages/gpg-bash-lib
        url = https://gitlab.com/whonix/gpg-bash-lib.git

[submodule "packages/grub-live"]
        path = packages/grub-live
        url = https://gitlab.com/whonix/grub-live.git

[submodule "packages/hardened-kernel"]
        path = packages/hardened-kernel
        url = https://gitlab.com/whonix/hardened-kernel.git

[submodule "packages/hardened_malloc"]
        path = packages/hardened_malloc
        url = https://gitlab.com/whonix/hardened_malloc.git

[submodule "packages/helper-scripts"]
        path = packages/helper-scripts
        url = https://gitlab.com/whonix/helper-scripts.git

[submodule "packages/kicksecure-base-files"]
        path = packages/kicksecure-base-files
        url = https://gitlab.com/whonix/kicksecure-base-files.git

[submodule "packages/kicksecure-network-conf"]
        path = packages/kicksecure-network-conf
        url = https://gitlab.com/whonix/kicksecure-network-conf.git

[submodule "packages/kloak"]
        path = packages/kloak
        url = https://gitlab.com/whonix/kloak.git

[submodule "packages/live-config-dist"]
        path = packages/live-config-dist
        url = https://gitlab.com/whonix/live-config-dist.git

[submodule "packages/lkrg"]
        path = packages/lkrg
        url = https://gitlab.com/whonix/lkrg.git

[submodule "packages/monero-gui"]
        path = packages/monero-gui
        url = https://gitlab.com/whonix/monero-gui.git

[submodule "packages/msgcollector"]
        path = packages/msgcollector
        url = https://gitlab.com/whonix/msgcollector.git

[submodule "packages/onion-grater"]
        path = packages/onion-grater
        url = https://gitlab.com/whonix/onion-grater.git

[submodule "packages/open-link-confirmation"]
        path = packages/open-link-confirmation
        url = https://gitlab.com/whonix/open-link-confirmation.git

[submodule "packages/qubes-whonix"]
        path = packages/qubes-whonix
        url = https://gitlab.com/whonix/qubes-whonix.git

[submodule "packages/rads"]
        path = packages/rads
        url = https://gitlab.com/whonix/rads.git

[submodule "packages/ro-mode-init"]
        path = packages/ro-mode-init
        url = https://gitlab.com/whonix/ro-mode-init.git

[submodule "packages/sandbox-app-launcher"]
        path = packages/sandbox-app-launcher
        url = https://gitlab.com/whonix/sandbox-app-launcher.git

[submodule "packages/sdwdate"]
        path = packages/sdwdate
        url = https://gitlab.com/whonix/sdwdate.git

[submodule "packages/sdwdate-gui"]
        path = packages/sdwdate-gui
        url = https://gitlab.com/whonix/sdwdate-gui.git

[submodule "packages/security-misc"]
        path = packages/security-misc
        url = https://gitlab.com/whonix/security-misc.git

[submodule "packages/serial-console-enable"]
        path = packages/serial-console-enable
        url = https://gitlab.com/whonix/serial-console-enable.git

[submodule "packages/swap-file-creator"]
        path = packages/swap-file-creator
        url = https://gitlab.com/whonix/swap-file-creator.git

[submodule "packages/tb-default-browser"]
        path = packages/tb-default-browser
        url = https://gitlab.com/whonix/tb-default-browser.git

[submodule "packages/tb-starter"]
        path = packages/tb-starter
        url = https://gitlab.com/whonix/tb-starter.git

[submodule "packages/tb-updater"]
        path = packages/tb-updater
        url = https://gitlab.com/whonix/tb-updater.git

[submodule "packages/timesanitycheck"]
        path = packages/timesanitycheck
        url = https://gitlab.com/whonix/timesanitycheck.git

[submodule "packages/tirdad"]
        path = packages/tirdad
        url = https://gitlab.com/whonix/tirdad.git

[submodule "packages/tor-control-panel"]
        path = packages/tor-control-panel
        url = https://gitlab.com/whonix/tor-control-panel.git

[submodule "packages/usability-misc"]
        path = packages/usability-misc
        url = https://gitlab.com/whonix/usability-misc.git

[submodule "packages/uwt"]
        path = packages/uwt
        url = https://gitlab.com/whonix/uwt.git

[submodule "packages/vm-config-dist"]
        path = packages/vm-config-dist
        url = https://gitlab.com/whonix/vm-config-dist.git

[submodule "packages/whonix-base-files"]
        path = packages/whonix-base-files
        url = https://gitlab.com/whonix/whonix-base-files.git

[submodule "packages/systemcheck"]
        path = packages/systemcheck
        url = https://gitlab.com/whonix/systemcheck.git

[submodule "packages/whonix-developer-meta-files"]
        path = packages/whonix-developer-meta-files
        url = https://gitlab.com/whonix/whonix-developer-meta-files.git

[submodule "packages/whonix-firewall"]
        path = packages/whonix-firewall
        url = https://gitlab.com/whonix/whonix-firewall.git

[submodule "packages/whonix-gw-network-conf"]
        path = packages/whonix-gw-network-conf
        url = https://gitlab.com/whonix/whonix-gw-network-conf.git

[submodule "packages/whonix-initializer"]
        path = packages/whonix-initializer
        url = https://gitlab.com/whonix/whonix-initializer.git

[submodule "packages/whonix-legacy"]
        path = packages/whonix-legacy
        url = https://gitlab.com/whonix/whonix-legacy.git

[submodule "packages/whonix-libvirt"]
        path = packages/whonix-libvirt
        url = https://gitlab.com/whonix/whonix-libvirt.git

[submodule "packages/whonix-repository"]
        path = packages/whonix-repository
        url = https://gitlab.com/whonix/whonix-repository.git

[submodule "packages/setup-dist"]
	path = packages/setup-dist
        url = https://gitlab.com/whonix/setup-dist.git

[submodule "packages/whonix-setup-wizard"]
        path = packages/whonix-setup-wizard
        url = https://gitlab.com/whonix/whonix-setup-wizard.git

[submodule "packages/whonix-welcome-page"]
        path = packages/whonix-welcome-page
        url = https://gitlab.com/whonix/whonix-welcome-page.git

[submodule "packages/whonix-ws-network-conf"]
        path = packages/whonix-ws-network-conf
        url = https://gitlab.com/whonix/whonix-ws-network-conf.git

[submodule "packages/whonix-xfce-desktop-config"]
        path = packages/whonix-xfce-desktop-config
        url = https://gitlab.com/whonix/whonix-xfce-desktop-config.git

