## No longer ignore temporary and backup files.
## It is better when git always lists them, so they never end up in in the
## source tarball.
#*~
#*.kate-swp

## No longer adding .directory. Otherwise one would have a hard time adding
## whonix_workstation/home/user/.kde/share/apps/dolphin/view_properties/global/.directory
## to its custom build
#.directory

packages/.directory

## ignore kdevelop project files
Whonix.kdev4
.kdev4/

## ignore temporary files for Debian package creation
debian/files
debian/tmp/
debian/*.debhelper*
debian/*.substvars
debian/*.init
debian/*.default

# ignore ansible configuration and log files
ansible_vault_password
automated_builder/logs/

