[submodule "packages/anon-apt-sources-list"]
	path = packages/kicksecure/anon-apt-sources-list
        url = https://github.com/Kicksecure/anon-apt-sources-list.git
        #url = https://gitlab.com/kicksecure/anon-apt-sources-list.git

[submodule "packages/anon-connection-wizard"]
	path = packages/kicksecure/anon-connection-wizard
        url = https://github.com/Kicksecure/anon-connection-wizard.git
        #url = https://gitlab.com/kicksecure/anon-connection-wizard.git

[submodule "packages/anon-shared-build-apt-sources-tpo"]
	path = packages/kicksecure/anon-shared-build-apt-sources-tpo
        url = https://github.com/Kicksecure/anon-shared-build-apt-sources-tpo.git
        #url = https://gitlab.com/kicksecure/anon-shared-build-apt-sources-tpo.git

[submodule "packages/apparmor-profile-dist"]
	path = packages/kicksecure/apparmor-profile-dist
        url = https://github.com/Kicksecure/apparmor-profile-dist.git
        #url = https://gitlab.com/kicksecure/apparmor-profile-dist.git

[submodule "packages/apparmor-profile-everything"]
	path = packages/kicksecure/apparmor-profile-everything
        url = https://github.com/Kicksecure/apparmor-profile-everything.git
        #url = https://gitlab.com/kicksecure/apparmor-profile-everything.git

[submodule "packages/apparmor-profile-hexchat"]
	path = packages/kicksecure/apparmor-profile-hexchat
        url = https://github.com/Kicksecure/apparmor-profile-hexchat.git
        #url = https://gitlab.com/kicksecure/apparmor-profile-hexchat.git

[submodule "packages/apparmor-profile-thunderbird"]
	path = packages/kicksecure/apparmor-profile-thunderbird
        url = https://github.com/Kicksecure/apparmor-profile-thunderbird.git
        #url = https://gitlab.com/kicksecure/apparmor-profile-thunderbird.git

[submodule "packages/apparmor-profile-torbrowser"]
	path = packages/kicksecure/apparmor-profile-torbrowser
        url = https://github.com/Kicksecure/apparmor-profile-torbrowser.git
        #url = https://gitlab.com/kicksecure/apparmor-profile-torbrowser.git

[submodule "packages/binaries-freedom"]
	path = packages/kicksecure/binaries-freedom
        url = https://github.com/Kicksecure/binaries-freedom.git
        #url = https://gitlab.com/kicksecure/binaries-freedom.git

[submodule "packages/bindp"]
	path = packages/kicksecure/bindp
        url = https://github.com/Kicksecure/bindp.git
        #url = https://gitlab.com/kicksecure/bindp.git

[submodule "packages/bootclockrandomization"]
	path = packages/kicksecure/bootclockrandomization
        url = https://github.com/Kicksecure/bootclockrandomization.git
        #url = https://gitlab.com/kicksecure/bootclockrandomization.git

[submodule "packages/damngpl"]
	path = packages/kicksecure/damngpl
        url = https://github.com/Kicksecure/damngpl.git
        #url = https://gitlab.com/kicksecure/damngpl.git

[submodule "packages/debug-misc"]
	path = packages/kicksecure/debug-misc
        url = https://github.com/Kicksecure/debug-misc.git
        #url = https://gitlab.com/kicksecure/debug-misc.git

[submodule "packages/desktop-config-dist"]
	path = packages/kicksecure/desktop-config-dist
        url = https://github.com/Kicksecure/desktop-config-dist.git
        #url = https://gitlab.com/kicksecure/desktop-config-dist.git

[submodule "packages/developer-meta-files"]
	path = packages/kicksecure/developer-meta-files
        url = https://github.com/Kicksecure/developer-meta-files.git
        #url = https://gitlab.com/kicksecure/developer-meta-files.git

[submodule "packages/dist-base-files"]
	path = packages/kicksecure/dist-base-files
        url = https://github.com/Kicksecure/dist-base-files.git
        #url = https://gitlab.com/kicksecure/dist-base-files.git

[submodule "packages/genmkfile"]
	path = packages/kicksecure/genmkfile
        url = https://github.com/Kicksecure/genmkfile.git
        #url = https://gitlab.com/kicksecure/genmkfile.git

[submodule "packages/gpg-bash-lib"]
	path = packages/kicksecure/gpg-bash-lib
        url = https://github.com/Kicksecure/gpg-bash-lib.git
        #url = https://gitlab.com/kicksecure/gpg-bash-lib.git

[submodule "packages/grub-live"]
	path = packages/kicksecure/grub-live
        url = https://github.com/Kicksecure/grub-live.git
        #url = https://gitlab.com/kicksecure/grub-live.git

[submodule "packages/hardened-kernel"]
	path = packages/kicksecure/hardened-kernel
        url = https://github.com/Kicksecure/hardened-kernel.git
        #url = https://gitlab.com/kicksecure/hardened-kernel.git

[submodule "packages/hardened_malloc"]
	path = packages/kicksecure/hardened_malloc
        url = https://github.com/Kicksecure/hardened_malloc.git
        #url = https://gitlab.com/kicksecure/hardened_malloc.git

[submodule "packages/helper-scripts"]
	path = packages/kicksecure/helper-scripts
        url = https://github.com/Kicksecure/helper-scripts.git
        #url = https://gitlab.com/kicksecure/helper-scripts.git

[submodule "packages/icon-pack-dist"]
	path = packages/kicksecure/icon-pack-dist
        url = https://github.com/Kicksecure/icon-pack-dist.git
        #url = https://gitlab.com/kicksecure/icon-pack-dist.git

[submodule "packages/initializer-dist"]
	path = packages/kicksecure/initializer-dist
        url = https://github.com/Kicksecure/initializer-dist.git
        #url = https://gitlab.com/kicksecure/initializer-dist.git

[submodule "packages/kicksecure-base-files"]
	path = packages/kicksecure/kicksecure-base-files
        url = https://github.com/Kicksecure/kicksecure-base-files.git
        #url = https://gitlab.com/kicksecure/kicksecure-base-files.git

[submodule "packages/kicksecure-meta-packages"]
	path = packages/kicksecure/kicksecure-meta-packages
        url = https://github.com/Kicksecure/kicksecure-meta-packages.git
        #url = https://gitlab.com/kicksecure/kicksecure-meta-packages.git

[submodule "packages/kicksecure-network-conf"]
	path = packages/kicksecure/kicksecure-network-conf
        url = https://github.com/Kicksecure/kicksecure-network-conf.git
        #url = https://gitlab.com/kicksecure/kicksecure-network-conf.git

[submodule "packages/legacy-dist"]
	path = packages/kicksecure/legacy-dist
        url = https://github.com/Kicksecure/legacy-dist.git
        #url = https://gitlab.com/kicksecure/legacy-dist.git

[submodule "packages/libvirt-dist"]
	path = packages/kicksecure/libvirt-dist
        url = https://github.com/Kicksecure/libvirt-dist.git
        #url = https://gitlab.com/kicksecure/libvirt-dist.git

[submodule "packages/live-config-dist"]
	path = packages/kicksecure/live-config-dist
        url = https://github.com/Kicksecure/live-config-dist.git
        #url = https://gitlab.com/kicksecure/live-config-dist.git

[submodule "packages/lkrg"]
	path = packages/kicksecure/lkrg
        url = https://github.com/Kicksecure/lkrg.git
        #url = https://gitlab.com/kicksecure/lkrg.git

[submodule "packages/monero-gui"]
	path = packages/kicksecure/monero-gui
        ## monero-gui on gitlab instead of github due to github git space restrictions.
        url = https://gitlab.com/kicksecure/monero-gui.git

[submodule "packages/msgcollector"]
	path = packages/kicksecure/msgcollector
        url = https://github.com/Kicksecure/msgcollector.git
        #url = https://gitlab.com/kicksecure/msgcollector.git

[submodule "packages/open-link-confirmation"]
	path = packages/kicksecure/open-link-confirmation
        url = https://github.com/Kicksecure/open-link-confirmation.git
        #url = https://gitlab.com/kicksecure/open-link-confirmation.git

[submodule "packages/rads"]
	path = packages/kicksecure/rads
        url = https://github.com/Kicksecure/rads.git
        #url = https://gitlab.com/kicksecure/rads.git

[submodule "packages/repository-dist"]
	path = packages/kicksecure/repository-dist
        url = https://github.com/Kicksecure/repository-dist.git
        #url = https://gitlab.com/kicksecure/repository-dist.git

[submodule "packages/ro-mode-init"]
	path = packages/kicksecure/ro-mode-init
        url = https://github.com/Kicksecure/ro-mode-init.git
        #url = https://gitlab.com/kicksecure/ro-mode-init.git

[submodule "packages/sandbox-app-launcher"]
	path = packages/kicksecure/sandbox-app-launcher
        url = https://github.com/Kicksecure/sandbox-app-launcher.git
        #url = https://gitlab.com/kicksecure/sandbox-app-launcher.git

[submodule "packages/sdwdate"]
	path = packages/kicksecure/sdwdate
        url = https://github.com/Kicksecure/sdwdate.git
        #url = https://gitlab.com/kicksecure/sdwdate.git

[submodule "packages/sdwdate-gui"]
	path = packages/kicksecure/sdwdate-gui
        url = https://github.com/Kicksecure/sdwdate-gui.git
        #url = https://gitlab.com/kicksecure/sdwdate-gui.git

[submodule "packages/security-misc"]
	path = packages/kicksecure/security-misc
        url = https://github.com/Kicksecure/security-misc.git
        #url = https://gitlab.com/kicksecure/security-misc.git

[submodule "packages/serial-console-enable"]
	path = packages/kicksecure/serial-console-enable
        url = https://github.com/Kicksecure/serial-console-enable.git
        #url = https://gitlab.com/kicksecure/serial-console-enable.git

[submodule "packages/setup-dist"]
	path = packages/kicksecure/setup-dist
        url = https://github.com/Kicksecure/setup-dist.git
        #url = https://gitlab.com/kicksecure/setup-dist.git

[submodule "packages/setup-wizard-dist"]
	path = packages/kicksecure/setup-wizard-dist
        url = https://github.com/Kicksecure/setup-wizard-dist.git
        #url = https://gitlab.com/kicksecure/setup-wizard-dist.git

[submodule "packages/swap-file-creator"]
	path = packages/kicksecure/swap-file-creator
        url = https://github.com/Kicksecure/swap-file-creator.git
        #url = https://gitlab.com/kicksecure/swap-file-creator.git

[submodule "packages/systemcheck"]
	path = packages/kicksecure/systemcheck
        url = https://github.com/Kicksecure/systemcheck.git
        #url = https://gitlab.com/kicksecure/systemcheck.git

[submodule "packages/tb-default-browser"]
	path = packages/kicksecure/tb-default-browser
        url = https://github.com/Kicksecure/tb-default-browser.git
        #url = https://gitlab.com/kicksecure/tb-default-browser.git

[submodule "packages/tb-starter"]
	path = packages/kicksecure/tb-starter
        url = https://github.com/Kicksecure/tb-starter.git
        #url = https://gitlab.com/kicksecure/tb-starter.git

[submodule "packages/tb-updater"]
	path = packages/kicksecure/tb-updater
        url = https://github.com/Kicksecure/tb-updater.git
        #url = https://gitlab.com/kicksecure/tb-updater.git

[submodule "packages/timesanitycheck"]
	path = packages/kicksecure/timesanitycheck
        url = https://github.com/Kicksecure/timesanitycheck.git
        #url = https://gitlab.com/kicksecure/timesanitycheck.git

[submodule "packages/tirdad"]
	path = packages/kicksecure/tirdad
        url = https://github.com/Kicksecure/tirdad.git
        #url = https://gitlab.com/kicksecure/tirdad.git

[submodule "packages/tor-control-panel"]
	path = packages/kicksecure/tor-control-panel
        url = https://github.com/Kicksecure/tor-control-panel.git
        #url = https://gitlab.com/kicksecure/tor-control-panel.git

[submodule "packages/tor-ctrl"]
	path = packages/kicksecure/tor-ctrl
        url = https://github.com/Kicksecure/tor-ctrl.git
        #url = https://gitlab.com/kicksecure/tor-ctrl.git

[submodule "packages/usability-misc"]
	path = packages/kicksecure/usability-misc
        url = https://github.com/Kicksecure/usability-misc.git
        #url = https://gitlab.com/kicksecure/usability-misc.git

[submodule "packages/vm-config-dist"]
	path = packages/kicksecure/vm-config-dist
        url = https://github.com/Kicksecure/vm-config-dist.git
        #url = https://gitlab.com/kicksecure/vm-config-dist.git

[submodule "packages/anon-apps-config"]
	path = packages/whonix/anon-apps-config
        url = https://github.com/Whonix/anon-apps-config.git
        #url = https://gitlab.com/whonix/anon-apps-config.git

[submodule "packages/anon-gw-anonymizer-config"]
	path = packages/whonix/anon-gw-anonymizer-config
        url = https://github.com/Whonix/anon-gw-anonymizer-config.git
        #url = https://gitlab.com/whonix/anon-gw-anonymizer-config.git

[submodule "packages/anon-gw-base-files"]
	path = packages/whonix/anon-gw-base-files
        url = https://github.com/Whonix/anon-gw-base-files.git
        #url = https://gitlab.com/whonix/anon-gw-base-files.git

[submodule "packages/anon-meta-packages"]
	path = packages/whonix/anon-meta-packages
        url = https://github.com/Whonix/anon-meta-packages.git
        #url = https://gitlab.com/whonix/anon-meta-packages.git

[submodule "packages/anon-ws-base-files"]
	path = packages/whonix/anon-ws-base-files
        url = https://github.com/Whonix/anon-ws-base-files.git
        #url = https://gitlab.com/whonix/anon-ws-base-files.git

[submodule "packages/anon-ws-disable-stacked-tor"]
	path = packages/whonix/anon-ws-disable-stacked-tor
        url = https://github.com/Whonix/anon-ws-disable-stacked-tor.git
        #url = https://gitlab.com/whonix/anon-ws-disable-stacked-tor.git

[submodule "packages/corridor"]
	path = packages/whonix/corridor
        url = https://github.com/Whonix/corridor.git
        #url = https://gitlab.com/whonix/corridor.git

[submodule "packages/kloak"]
	path = packages/whonix/kloak
        url = https://github.com/Whonix/kloak.git
        #url = https://gitlab.com/whonix/kloak.git

[submodule "packages/onion-grater"]
	path = packages/whonix/onion-grater
        url = https://github.com/Whonix/onion-grater.git
        #url = https://gitlab.com/whonix/onion-grater.git

[submodule "packages/qubes-whonix"]
	path = packages/whonix/qubes-whonix
        url = https://github.com/Whonix/qubes-whonix.git
        #url = https://gitlab.com/whonix/qubes-whonix.git

[submodule "packages/uwt"]
	path = packages/whonix/uwt
        url = https://github.com/Whonix/uwt.git
        #url = https://gitlab.com/whonix/uwt.git

[submodule "packages/whonix-base-files"]
	path = packages/whonix/whonix-base-files
        url = https://github.com/Whonix/whonix-base-files.git
        #url = https://gitlab.com/whonix/whonix-base-files.git

[submodule "packages/whonix-firewall"]
	path = packages/whonix/whonix-firewall
        url = https://github.com/Whonix/whonix-firewall.git
        #url = https://gitlab.com/whonix/whonix-firewall.git

[submodule "packages/whonix-gw-network-conf"]
	path = packages/whonix/whonix-gw-network-conf
        url = https://github.com/Whonix/whonix-gw-network-conf.git
        #url = https://gitlab.com/whonix/whonix-gw-network-conf.git

[submodule "packages/whonix-welcome-page"]
	path = packages/whonix/whonix-welcome-page
        url = https://github.com/Whonix/whonix-welcome-page.git
        #url = https://gitlab.com/whonix/whonix-welcome-page.git

[submodule "packages/whonix-ws-network-conf"]
	path = packages/whonix/whonix-ws-network-conf
        url = https://github.com/Whonix/whonix-ws-network-conf.git
        #url = https://gitlab.com/whonix/whonix-ws-network-conf.git

