.kdev4/
debian/tmp
debian/files
debian/whonix-desktop-kde/
debian/whonix-desktop-langpack-kde/
debian/whonix-desktop.debhelper.log
debian/whonix-desktop.substvars
debian/whonix-desktop/
debian/whonix-gateway.debhelper.log
debian/whonix-gateway.substvars
debian/whonix-gateway/
debian/whonix-kde-accessibility.debhelper.log
debian/whonix-kde-accessibility.substvars
debian/whonix-kde-accessibility/
debian/whonix-shared.debhelper.log
debian/whonix-shared.substvars
debian/whonix-shared/
debian/whonix-workstation-default-applications.debhelper.log
debian/whonix-workstation-default-applications.substvars
debian/whonix-workstation-default-applications/
debian/whonix-workstation-extra-applications.debhelper.log
debian/whonix-workstation-extra-applications.substvars
debian/whonix-workstation-extra-applications/
debian/whonix-workstation-langpack-common.debhelper.log
debian/whonix-workstation-langpack-common.substvars
debian/whonix-workstation-langpack-common/
debian/whonix-workstation-langpack-kde.substvars
debian/whonix-workstation-langpack-kde/
debian/whonix-workstation.debhelper.log
debian/whonix-workstation.substvars
debian/whonix-workstation/
debian/whonix-desktop-kde.debhelper.log
debian/whonix-desktop-kde.substvars
debian/whonix-desktop-langpack-kde.debhelper.log
debian/whonix-desktop-langpack-kde.substvars

