## Copyright (C) 2025 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=docker-entrypoint.service

[Service]
ExecStartPre=/bin/bash -e -x -c "cat -- /etc/docker-entrypoint-cmd"
ExecStart=/bin/bash -e -x -c /etc/docker-entrypoint-cmd
ExecStopPost=/usr/bin/docker-entrypoint-stop.sh
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
EnvironmentFile=/etc/docker-entrypoint-env

[Install]
WantedBy=multi-user.target
