## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Terminal=true
Exec=/usr/lib/whonix/shortcuts/whonix-stoptor
Name=Stop Tor
GenericName=Stop Tor
Comment=Stop Tor using "sudo service tor stop"
Categories=System
Icon=/usr/share/whonix/icons/Saki-NuoveXT-2-Actions-stop.ico
