# This file is part of Whonix
# Copyright (C) 2012 - 2013 adrelanos <adrelanos at riseup dot net>
# See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Terminal=true
Exec=/usr/lib/whonix/shortcuts/whonix-firsttimesetup
Name=First Time Connection Setup
GenericName=First Time Connection Wizard
Categories=System
Icon=/usr/share/whonix/icons/advancedsettings.ico

