[Desktop Entry]
Type=Application
Terminal=true
Exec=/usr/lib/whonix/shortcuts/whonix-arm
Name=Tor Controller
GenericName=arm
Categories=System
Icon=/usr/share/whonix/icons/arm.ico

