[Desktop Entry]
Type=Application
Exec=/usr/lib/whonix/shortcuts/whonix-firewall10default
Name=Open /etc/whonix_firewall.d/10_default in kwrite.
GenericName=Whonix Default Firewall Settings
Categories=System
Icon=

