[Desktop Entry]
Type=Application
Exec=/usr/lib/whonix/shortcuts/whonix-firewall20user
Name=Open /etc/whonix_firewall.d/20_user in kwrite.
GenericName=Whonix User Firewall Settings
Categories=System
Icon=

