[Desktop Entry]
Type=Application
Terminal=true
Exec=/usr/lib/whonix/shortcuts/whonix-reloadfirewall
Name=Reload Whonix Firewall using "sudo /usr/bin/whonix_firewall"
GenericName=Reload Whonix Firewall
Categories=System
Icon=

