[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kdesudo kwrite /etc/whonix_firewall.d/10_default
Name=Open /etc/whonix_firewall.d/10_default in kwrite.
GenericName=Whonix Default Firewall Settings
Categories=System
Icon=

