# This file is part of Whonix
# Copyright (C) 2012, 2013 adrelanos <adrelanos at riseup dot net>
# See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Terminal=true
Exec=/usr/lib/whonix/shortcuts/whonix-stoptor
Name=Stop Tor using "sudo service tor stop"
GenericName=Stop Tor
Categories=System
Icon=/usr/share/whonix/icons/Saki-NuoveXT-2-Actions-stop.ico

