[Desktop Entry]
Type=Application
Terminal=true
Exec=sudo service tor reload; echo "Feel free to close this window. It will automatically close in 60 seconds"; sleep 60
Name=Reload Tor using "sudo service tor reload"
GenericName=Reload Tor
Categories=System
Icon=

