[Desktop Entry]
Type=Application
Exec=kdesudo kwrite /etc/tor/torrc
Name=Open /etc/tor/torrc in kwrite.
GenericName=/etc/tor/torrc
Categories=System
Icon=

