[Desktop Entry]
Type=Application
Terminal=true
Exec=/usr/lib/whonix/shortcuts/whonix-reloadtor
Name=Reload Tor using "sudo service tor reload"
GenericName=Reload Tor
Categories=System
Icon=/usr/share/whonix/icons/power_restart.ico
