[Desktop Entry]
Type=Application
Terminal=true
Exec=/usr/lib/whonix/shortcuts/whonix-stoptor
Name=Stop Tor using "sudo service tor stop"
GenericName=Stop Tor
Categories=System
Icon=

