[Desktop Entry]
Type=Application
Terminal=true
Exec=/usr/lib/whonix/shortcuts/whonix-firsttimesetup
Name=First Time Connection Setup
GenericName=First Time Connection Wizard
Categories=System
Icon=

