[Desktop Entry]
Type=Application
Terminal=true
Exec=sudo service tor restart; echo "Feel free to close this window. It will automatically close in 60 seconds"; sleep 60
Name=Shut down Tor and start Tor again using "sudo service tor restart"
GenericName=Restart Tor
Categories=System
Icon=

