[Unit]
Description=caching proxy server for Debian archive files (for derivative-maker)
Documentation=man:approx(8)

[Socket]
ListenStream=9977
Accept=yes

[Install]
WantedBy=sockets.target
