[Unit]
Description=caching proxy server for Debian archive files (for derivative-maker)
Documentation=man:approx(8)

[Service]
User=approx
ExecStart=-/usr/sbin/approx --config /etc/approx-derivative-maker/approx.conf
StandardInput=socket
