<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Tor Browser">
			<action name="Execute">
				<execute>torbrowser -readme</execute>
			</action>
		</item>
		<item label="PCManFM File Manager">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<item label="Gnome Terminal">
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<menu id="root-menu-25943" label="Whonix">
			<item label="Online Readme (Tor Browser)">
				<action name="Execute">
					<execute>torbrowser -readme</execute>
				</action>
			</item>
			<item label="Check IP, updates, news">
				<action name="Execute">
					<execute>whonixcheck</execute>
				</action>
			</item>
			<item label="Secure Network Time Synchronization">
				<action name="Execute">
					<execute>timesync</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-1" label="Applications">
			<item label="Tor Browser without Whonix Readme">
				<action name="Execute">
					<execute>torbrowser -noreadme</execute>
				</action>
			</item>
			<item label="File Roller Archive Manager">
				<action name="Execute">
					<execute>file-roller</execute>
				</action>
			</item>
			<item label="XChat IRC Client">
				<action name="Execute">
					<execute>xchat</execute>
				</action>
			</item>
			<item label="Gnome Media Player">
				<action name="Execute">
					<execute>gnome-mplayer</execute>
				</action>
			</item>
			<item label="evince PDF Viewer">
				<action name="Execute">
					<execute>evince</execute>
				</action>
			</item>
			<item label="leafpad Text Editor">
				<action name="Execute">
					<execute>leafpad</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="obmenu">
			<action name="Execute">
				<execute>
                                        obmenu
                                </execute>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<separator/>
		<item label="Exit Openbox">
			<action name="Exit"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<item label="Shut down">
			<action name="Execute">
				<execute>
                                        sudo /sbin/poweroff
                                </execute>
			</action>
		</item>
	</menu>
</openbox_menu>
