Source: whonix
Section: misc
Priority: extra
Maintainer: Heiko Schäfer <heiko@rangun.de>
Build-Depends: debhelper (>= 8)
Homepage: https://sourceforge.net/p/whonix/wiki/Home/
Vcs-Browser: https://github.com/adrelanos/Whonix
Vcs-Git: https://github.com/adrelanos/Whonix.git
Standards-Version: 3.9.3

Package: whonix-shared
Architecture: all
Depends: console-common, initramfs-tools, grub-pc, os-prober, bzip2, file, lsof, most, 
 pciutils, strace, sysfsutils, acpi-support-base, keyboard-configuration, sudo, rungetty, mingetty, 
 less, ed, gnupg, gnupg-curl, ifupdown, netbase, net-tools, kbd, debsums, iptables, haveged, 
 ca-certificates, curl, libdatetime-perl, libdatetime-format-dateparse-perl, 
 libgetopt-long-descriptive-perl, libtry-tiny-perl, update-notifier-common, zenity, libnotify-bin, 
 bc, ${misc:Depends}
Recommends: bash-completion, command-not-found, zsh, nano, wget, dnsutils, dbus, iputils-ping
Description: Dependencies and recommend packages for Whonix-Gateway and Whonix-Workstation
 A metapackage, which contains packages which both, whonix-gateway 
 and whonix-workstation, depend on.
 .
 Also includes recommend packages to ensure,
 Debian GNU/Linux standard tools are available.

#Package: whonix-host
#Architecture: all
#Pre-Depends: whonix-shared (= ${source:Version})
#Depends: ${misc:Depends}
#Description: Whonix Host Additions are still in an early planing phase Nothing to see here yet
 
Package: whonix-gateway
Architecture: all
Pre-Depends: whonix-shared (= ${source:Version})
Depends: tor, torsocks, dhcp3-client, isc-dhcp-client, ${misc:Depends}
Recommends: tor-geoipdb, tor-arm, obfsproxy
Description: Dependencies and recommend packages for Whonix-Gateway
 A metapackage, which contains packages which Whonix-Gateway 
 depends on and packages, which are recommended for Whonix-Gateway, 
 because they are useful for a Tor Gateway.
 
Package: whonix-workstation
Architecture: all
Pre-Depends: whonix-shared (= ${source:Version})
Depends: torsocks, rawdog, equivs, ${misc:Depends}
Recommends: whonix-desktop (= ${source:Version}), rinetd, libasound2, alsa-base, alsa-utils, 
 gtk2-engines-oxygen, gtk3-engines-oxygen
Suggests: whonix-workstation-extra-applications (= ${source:Version})
Description: Dependencies and recommend packages for Whonix-Workstation
 A metapackage, which contains packages which Whonix-Workstation 
 depends on and packages, which are recommended for Whonix-Workstation, 
 because they are useful for a Tor Workstation.

Package: whonix-desktop
Architecture: all
Depends: libgl1-mesa-dri, xserver-xorg, libupower-glib1, upower, ${misc:Depends}
Description: Desktop Depends
 A metapackage, which contains dependencies for desktop environments, 
 such as KDE.
 .
 whonix-desktop-kde depends on it.

Package: whonix-desktop-kde
Architecture: all
Depends: whonix-desktop (= ${source:Version}), kde-workspace, kdm, kdesudo, kdepasswd, kfind, 
 ksysguard, plasma-widget-folderview, kde-baseapps-bin, polkit-kde-1, konsole, kwrite, dolphin, ark, 
 okular, ${misc:Depends}
Recommends: whonix-workstation-default-applications (= ${source:Version}),
 whonix-kde-accessibility (= ${source:Version})
Description: Dependencies and recommend packages for Gateway/Workst. base KDE desktop
 A metapackage, which contains a minimal, yet complete enough 
 to contain the very basics, KDE desktop.
 .
 The Whonix-Gateway desktop and the Whonix-Workstation desktop
 depend on this package.

Package: whonix-kde-accessibility
Architecture: all
Depends: ${misc:Depends}
Recommends: kdeaccessibility, kvkbd, kmousetool, kmag, kmouth, jovie
Description: KDE accessibility tools
 A metapackage, which contains accessibility tools for the KDE desktop.
 .
 If not required, can be removed, because they are not crucial for
 anonymity, privacy or security.
 
Package: whonix-workstation-default-applications
Architecture: all
Depends: ${misc:Depends}
Recommends: whonix-desktop (= ${source:Version}), xchat, vlc, mixmaster, galternatives, apper,
 kcalc, gwenview, kgpg, kmix, synaptic, mat, python-hachoir-core, python-hachoir-parser, 
 python-pdfrw, python-cairo, python-poppler, python-mutagen, libimage-exiftool-perl
Suggests: whonix-workstation-extra-applications (= ${source:Version})
Description: Recommend default applications for Whonix-Workstation
 A metapackage, which contains recommended default applications, 
 which are useful in a default installation. 
 .
 Can be removed, because they are not crucial for anonymity, privacy 
 or security.

Package: whonix-workstation-extra-applications
Architecture: all
Depends: ${misc:Depends}
Recommends: whonix-workstation (= ${source:Version}), shutter, gtk-recordmydesktop, libreoffice,
 kdenlive, kolourpaint4
Description: Complements whonix-workstation-default-applications
 A metapackage, which contains extra applications, to complement the
 default applications, which does not get installed by default,
 because those take too much space and are not required for everyone.

Package: whonix-workstation-langpack-common
Architecture: all
Depends: ${misc:Depends}
Recommends: iceweasel-l10n-all | firefox-l10n-all, ttf-dejavu, ttf-liberation, locales-all, 
 ttf-kacst, ttf-farsiweb, scim-pinyin, scim-tables-zh, scim-uim, ttf-arphic-ukai, ttf-arphic-uming, 
 culmus, libfribidi0, ttf-indic-fonts, scim-anthy, ttf-khmeros, ttf-unfonts-core, ttf-lao,
 ttf-thai-tlwg, xfonts-intl-chinese, xfonts-wqy, xfonts-bolkhov-koi8r-75dpi, 
 xfonts-bolkhov-koi8r-misc, xfonts-cronyx-koi8r-100dpi
Description: Fonts and language packages for better internationalization support
 A metapackage which contains fonts and language packages for better 
 internationalization support. 
 .
 Does not get installed by default, because it is largely untested
 and needs more work.
 
Package: whonix-desktop-langpack-kde
Architecture: all
Depends: whonix-desktop-kde (= ${source:Version}), ${misc:Depends}
Recommends: whonix-workstation-default-applications (= ${source:Version}), 
 whonix-workstation-extra-applications (= ${source:Version}), kde-l10n-ar, kde-l10n-bg, kde-l10n-bs, 
 kde-l10n-ca, kde-l10n-cavalencia, kde-l10n-cs, kde-l10n-da, kde-l10n-de, kde-l10n-el, kde-l10n-engb, 
 kde-l10n-es, kde-l10n-et, kde-l10n-eu, kde-l10n-fa, kde-l10n-fi, kde-l10n-fr, kde-l10n-ga, 
 kde-l10n-gl, kde-l10n-he, kde-l10n-hr, kde-l10n-hu, kde-l10n-ia, kde-l10n-id, kde-l10n-is, 
 kde-l10n-it, kde-l10n-ja, kde-l10n-kk, kde-l10n-km, kde-l10n-ko, kde-l10n-lt, kde-l10n-lv, 
 kde-l10n-nb, kde-l10n-nds, kde-l10n-nl, kde-l10n-nn, kde-l10n-pa, kde-l10n-pl, kde-l10n-pt, 
 kde-l10n-ptbr, kde-l10n-ro, kde-l10n-ru, kde-l10n-si, kde-l10n-sk, kde-l10n-sl, kde-l10n-sr, 
 kde-l10n-sv, kde-l10n-tg, kde-l10n-th, kde-l10n-tr, kde-l10n-ug, kde-l10n-uk, kde-l10n-vi, 
 kde-l10n-wa, kde-l10n-zhcn, kde-l10n-zhtw, whonix-workstation-langpack-common (= ${source:Version})
Description: Extra language support for the KDE desktop
 A metapackage, which includes extra language support for the 
 KDE desktop.
 .
 Does not get installed by default, because it takes a lot of
 space and requires a better solution.
