#!/usr/bin/make -f

%:
	dh $@ --with=config-package

#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot
	dh_clean
	-rm -f $(CURDIR)/debian/*.init
	-rm -f $(CURDIR)/debian/*.bash-completion
	-rm --force --recursive $(CURDIR)/debian/tmp-man

build-arch: build

build-indep: build
	
build: 

binary: binary-indep

binary-arch:

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installman
	dh_installdebconf
	dh_installchangelogs
	dh_installdocs
	dh_gencontrol
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_md5sums
	dh_builddeb
	
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	$(CURDIR)/debian/rules-helper.bsh

	dh_configpackage
	dh_install --fail-missing --sourcedir=$(CURDIR)/debian/tmp
	dh_bash-completion
	dh_apparmor --profile-name=whonix -pwhonix-shared-files

.PHONY: build clean binary install
