[Desktop Entry]
Exec=torbrowser -noreadme
Icon=application-x-shellscript
Type=Application
Name=Start Tor Browser without Whonix Readme
GenericName=Tor Browser
Categories=Internet

