[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=whonixcheck
Name=Check time synchronization, Tor connection, Tor Browser version, operating system updates, Whonix version, Whonix news
GenericName=Whonix Check
Categories=System

