[Desktop Entry]
Type=Application
Exec=timesync
Name=Secure Network Time Synchronization
GenericName=Whonix Timesync
Categories=System
Icon=/usr/share/whonix/icons/timesync.ico