[Desktop Entry]
Type=Application
Exec=whonixcheck
Name=Check Tor Connection, Tor Browser Version, Operating System Updates, Whonix Version, Whonix News
GenericName=Whonix Check
Categories=System
Icon=/usr/share/whonix/icons/whonix.ico

