<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Terminal">
			<action name="Execute">
				<execute>
                                        x-terminal-emulator
                                </execute>
			</action>
		</item>
		<item label="TorBrowser">
			<action name="Execute">
				<execute>
# HARDCODED!
                                        /home/user/tor-browser_en-US/start-tor-browser 
                                </execute>
			</action>
		</item>
		<menu id="root-menu-25943" label="TorBOX">
			<item label="Check your IP (takes few seconds)">
				<action name="Execute">
					<execute>torcheck</execute>
				</action>
			</item>
			<item label="Tor Browser Update Check (takes few seconds)">
				<action name="Execute">
					<execute>torcheck</execute>
				</action>
			</item>
		</menu>
		<item label="File Manager">
			<action name="Execute">
				<execute>
                                        pcmanfm
                                </execute>
			</action>
		</item>
		<menu id="root-menu-1" label="Applications">
			<item label="Archive Manager">
				<action name="Execute">
					<execute>
                                                file-roller
                                        </execute>
				</action>
			</item>
			<item label="IRC Client">
				<action name="Execute">
					<execute>
                                                xchat
                                        </execute>
				</action>
			</item>
			<item label="Media Player">
				<action name="Execute">
					<execute>
                                                gnome-mplayer
                                        </execute>
				</action>
			</item>
			<item label="PDF Viewer">
				<action name="Execute">
					<execute>
                                                evince
                                        </execute>
				</action>
			</item>
			<item label="Text Editor">
				<action name="Execute">
					<execute>
                                                leafpad
                                        </execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="obmenu">
			<action name="Execute">
				<execute>
                                        obmenu
                                </execute>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
		<item label="Shut down">
			<action name="Execute">
				<execute>
                                        sudo /sbin/poweroff
                                </execute>
			</action>
		</item>
	</menu>
</openbox_menu>