[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=true
Exec=sudo arm; echo "Feel free to close this window. It will automatically close in 60 seconds"; sleep 60
Name=Tor Controller
GenericName=arm
Categories=System
Icon=/usr/local/share/whonix/icons/arm.ico

