[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sudo service tor restart
Name=Shut down Tor and start Tor again using "sudo service tor restart"
GenericName=Restart Tor
Categories=System
Icon=

