[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sudo service tor reload
Name=Reload Tor using "sudo service tor reload"
GenericName=Reload Tor
Categories=System
Icon=

