[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sudo arm
Name=Tor Controller
GenericName=arm
Categories=System
Icon=/usr/local/share/whonix/icons/arm.ico

