[Desktop Entry]
Type=Application
Exec=sudo -u user /usr/lib/whonix/doutput --identifier timesync --icon /usr/share/whonix/icons/timesync.ico --showx --autostart
