[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=torbrowser -forum
Name=User Help Forum in Tor Browser
GenericName=Whonix User Help Forum
Categories=Network;
Icon=/usr/local/share/whonix/forum.ico