[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=torbrowser -featureblog
Name=Feature Blog in Tor Browser
GenericName=Whonix Feature Blog
Categories=Network;
Icon=/usr/local/share/whonix/icons/featureblog.ico