[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=torbrowser -contribute
Name=Contribute Page in Tor Browser
GenericName=Whonix Contribute Page
Categories=Network;
Icon=/usr/local/share/whonix/contribute.ico