[Desktop Entry]
Encoding=UTF-8
Exec=torbrowser -start
Type=Application
Name=Start Tor Browser
GenericName=Tor Browser
Categories=Network;
Icon=/usr/local/share/whonix/icons/torbrowser.ico