[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=torbrowser -importantblog
Name=Important Blog in Tor Browser
GenericName=Whonix Important Blog
Categories=Network;
Icon=/usr/local/share/whonix/icons/importantblog.ico