[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=torbrowser -doc
Name=Whonix Documentation Online in Tor Browser
GenericName=Whonix Documentation
Categories=Network;
Icon=/usr/local/share/whonix/readme.ico