[Desktop Entry]
Encoding=UTF-8
Exec=torbrowser -update
Type=Application
Name=Update Tor Browser
GenericName=Tor Browser Updater
Categories=System;
Icon=/usr/local/share/whonix/tbupdate.ico